In [ ]:
#TOPIC: String Based Assignment Problem
#1. Write a program to reverse a string.
string = 'Program to reverse a string'
reverse_string = string[::-1] #Reversing the string
reverse_string

'gnirts a esrever ot margorP'

In [ ]:
#2. Check if a string is a palindrome.
str1 = 'malayalam'
str2 = str1[::-1] #Reversing the string
if str1 == str2 : #Checking the string and the reversal of the same.
  print(str1 +' is a palindrome.')
else :
   print(str1 +' is not a palindrome.')

malayalam is a palindrome.

In [ ]:
#3. Convert a string to uppercase.
str1 = 'malayalam'
upper_str1 = str1.upper() #Converting to Uppercase of the string
print('Uppercase of ' + str1 + ' is ' + upper_str1)

Uppercase of malayalam is MALAYALAM

In [ ]:
#4. Convert a string to lowercase.
str2 = 'Welcome to the Python Practise test'
lower_str2 = str2.lower() #Converting to Lowercase of the string
print('Lowercase : ' + lower_str2 )

Lowercase : welcome to the python practise test

In [ ]:
#5. Count the number of vowels in a string.
vowel_string = "Education"

vowels = ["a", "e", "i", "o", "u", "A","E","I","O","U"]
vowel_count = 0 #variable to hold the count

# using for-each loop,
for character in vowel_string: #Iterate through the string to check each letter by letter
    if character in vowels: # checking a letter, is exists in vowel list
        vowel_count += 1 #increementing the variable

print('Number of vowels in the string ' + vowel_string +' : ',  vowel_count)

Number of vowels in the string Education :  5

In [ ]:
#6. Count the number of consonants in a string.
consonant_string = "Education"

vowels = ["a", "e", "i", "o", "u", "A","E","I","O","U"]
consonant_count = 0 #variable to hold the count

# using for-each loop,
for character in vowel_string: #Iterate through the string to check each letter by letter
    if character not in vowels: # checking a letter in the string, is not exists in vowel list
        consonant_count += 1 #increementing the variable

print('Number of Consonants in the string ' + consonant_string +' : ',  consonant_count)

Number of Consonants in the string Education :  4

In [ ]:
#7. Remove all whitespaces from a string.
def trim_space(input_str): #Function definition
  result_str = "" #variable to hold the result and initialize as empty
  for letter in input_str: #Iterating each letter of the string
    if (letter!=" "): #checking its not space
      result_str += letter #if it is not space, appending this letter with the result
  return result_str

string_trim = '   Data Scientist    '
result_trim = trim_space(string_trim) #calling the function
result_trim

'DataScientist'

In [ ]:
#8. Find the length of a string without using the `len()` function.
length_string = 'Data Scientist'
length_count = 0  #variable to hold the count
for letter in length_string: #Iterate through the string to check each letter by letter
  length_count += 1 #increementing the variable
print('Length: ',length_count) #print the result

Length:  14

In [ ]:
#9. Check if a string contains a specific word.
quote_string = 'One child,one teacher, one book, one pen can change the world'
search_string = 'change' #word to search in the string
if search_string in quote_string: #checking a word, is exists in the string
     print('The string contains ' + search_string)
else:
     print('The string does not contains ' + search_string)

The string contains change

In [ ]:
#10. Replace a word in a string with another word.
main_string = "The money is everything"
replace_string = "mind" #new word to replace
new_string = main_string.replace("money",replace_string) #replace the string
new_string

'The mind is everything'

In [ ]:
#11. Count the occurrences of a word in a string.
occur_string = "Analyst works on data"
occur_string = occur_string.split() #splitting string
occur_string
search_word ='data' #word to search
word_count = 0
for word in occur_string: #iterating through the words in the string now a converted list
  if search_word == word: #checking word is equal to the word in the string list.
     word_count+= 1
print('Count of the word ' + search_word +": ",word_count)

Count of the word data:  1

In [ ]:
#12. Find the first occurrence of a word in a string.
first_occur_string = 'what you think you become'
srch_word = 'you'
search_index = 0 #variable to hold the index
search_index = first_occur_string.find(srch_word) #search the index of the mentioned word in the string
if search_index == -1: #check if the index exists or not. if index is -1 then word not exists in string.
   print('word :'+ srch_word + ' not found in the string' + ' : ' + first_occur_string)
else:
   print('word \"'+ srch_word + '\" occurs at the position ', search_index , ' in the string \"' + first_occur_string +"\"")

word "you" occurs at the position  5  in the string "what you think you become"

In [ ]:
#13. Find the last occurrence of a word in a string.
last_occur_string = 'what you think you become'
search_word = 'you'
search_indx = 0 #variable to hold the index
search_indx = last_occur_string.rfind(srch_word) #search the last index of the mentioned word in the string
if search_index == -1: #check if the index exists or not. if index is -1 then word not exists in string.
   print('word :'+ srch_word + ' not found in the string' + ' : ' + last_occur_string)
else:
   print('word \"'+ srch_word + '\" last occurs at the position ', search_indx , ' in the string \"' + last_occur_string +"\"")

word "you" last occurs at the position  15  in the string "what you think you become"

In [ ]:
#14. Split a string into a list of words.
def split_words(input_string): #Function to split the words
  words_list=[]
  words_list = input_string.split()
  return words_list
unsplit_string = "Arise! Awake! stop not till your goal is reached!!!"
split_string = split_words(unsplit_string) #calling the function
split_string #print the List

['Arise!', 'Awake!', 'stop', 'not', 'till', 'your', 'goal', 'is', 'reached!!!']

In [ ]:
#15. Join a list of words into a string.
def list_string(list_words):
    res_string = ' '.join(list_words) # to combine list of words using join
    return res_string # Return the final string.

# Example usage
list_words = ['Arise!', 'Awake!', 'stop', 'not', 'till', 'your', 'goal', 'is', 'reached!!!']
string_output = list_string(list_words) #calling the function
print("List to string: ", string_output)

List to string:  Arise! Awake! stop not till your goal is reached!!!

In [ ]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''
base_str = 'Health is wealth' #declare and assign a string
new_str = base_str.replace(" ","_") #replace space with underscore
new_str #print the word with underscore

'Health_is_wealth'

In [ ]:
#17. Check if a string starts with a specific word or phrase.
main_str = 'Failure comes with a present namely lesson'
search_str ='Failure' #word to check
if (main_str.startswith(search_str)): #checking the word starts with search_str in main str
  print('\''+  main_str + '\' starts with ' + '\''+ search_str + '\'')
else:
  print('\''+  main_str + '\' doesn\'t starts with ' + '\''+ search_str + '\'')

'Failure comes with a present namely lesson' starts with 'Failure'

In [ ]:
#18. Check if a string ends with a specific word or phrase.
main_str = 'Failure comes with a present namely Lesson'
search_str ='Lesson' #word to check
if (main_str.endswith(search_str)): #checking the word ends with search_str in main str
  print('\''+  main_str + '\' ends with ' + '\''+ search_str + '\'')
else:
  print('\''+  main_str + '\' doesn\'t ends with ' + '\''+ search_str + '\'')

'Failure comes with a present namely Lesson' ends with 'Lesson'

In [ ]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
main_str = 'Chase your dream'
title_string = main_str.title() #converting to title case
print('Title case of \''+ main_str +'\' is \''+ title_string +'\'')

Title case of 'Chase your dream' is 'Chase Your Dream'

In [ ]:
#20. Find the longest word in a string.
def longestword(s):
    #splitting the string into words
    s=s.split()
    # Using max() method
    result = max(s,key=len)
    return result
main_str = 'Chase your dreams'
long_word = longestword(main_str) #calling the function
long_word
print('The longest word:' + long_word)

The longest word:dreams

In [ ]:
#21. Find the shortest word in a string.
def shortestword(s):
    #splitting the string into words
    s=s.split()
    # Using min() method
    result = min(s,key=len)
    return result
main_str = 'Chase your dreams'
short_word = shortestword(main_str) #calling the function
short_word
print('The shortest word:' + short_word)

The shortest word:your

In [ ]:
#22. Reverse the order of words in a string.
def rever_func(input_str): #define function to reverse the words of string
  t = s.split() #split the given string
  reverse_str = t[::-1] #reverse the words in the list
  final_str = ' '.join(reverse_str) #combine finally
  return final_str

s = 'Chase your dreams'
input_s = rever_func(s) #calling the function
print('Reverse order of words: ' + input_s) #print the output

Reverse order of words: dreams your Chase

In [ ]:
#23. Check if a string is alphanumeric.
input_string = 'Welcome to my home'
if input_string.isalnum() == True : #isalnum to check whether its alpha numeric or not
    print('Its alphanumeric') #print the result
else:
    print('Its not alphanumeric') #print the result

Its not alphanumeric

In [ ]:
#24. Extract all digits from a string.
def extract_digits(input_string): #Define the function
  x=test_string.split()  #split the string
  res=[]
  for i in x:
    if i.isdigit(): #function to check whether digit or not
        res.append(int(i))
  return res

test_string ='Address: 42 Northwest street,ChkTown'
extracted_digits = extract_digits(test_string) #call the function
print('Extracted Digits:',extracted_digits) #print the extracted digits

Extracted Digits: [42]

In [ ]:
#25. Extract all alphabets from a string.
def extract_alphabets(input_string): #Define the function
  x=test_string.split()  #split the string
  res=""
  for i in x:
    if i.isalpha(): #function to check whether alphabet or not
        res += i
  return res

test_string ='Welcome to my home'
extracted_alpha = extract_alphabets(test_string) #call the function
print('Extracted Digits:',extracted_alpha) #print the final result

Extracted Digits: Welcometomyhome

In [ ]:
#26. Count the number of uppercase letters in a string.
def count_uppercase(input_string): #Define the function
  res= 0
  for i in input_string:
    if i.isupper()==True: #function to check whether uppercase or not
        res += 1
  return res

test_string ='Welcome to my home'
counted_isupper = count_uppercase(test_string) #call the function
print('Uppercase letters count:',counted_isupper) #print the output

Uppercase letters count: 1

In [ ]:
#27. Count the number of lowercase letters in a string.
def count_lowercase(input_string): #Define the function
  res= 0
  for i in input_string:
    if i.islower()==True: #function to check whether lowercase or not
        res += 1
  return res

test_string ='Welcome to my home'
counted_islower = count_lowercase(test_string) #call the function
print('Uppercase letters count:',counted_islower) #print the result

Uppercase letters count: 14

In [ ]:
#28. Swap the case of each character in a string.
def swap_case(input_string): #Define the function
  output_string =''
  for i in input_string:
    if i.islower()==True: #function to check whether lowercase or not
        output_string += i.capitalize() #If it is lower case, change it to Uppercase
    elif i.isupper() == True: #function to check whether uppercase or not
        output_string += i.lower() #If it is upper case, change it to Lowercase
    else: #If it is neither upper case nor lowercase, mean digits
        output_string += i
  return output_string

test_string ='Welcome to my home'
swap_char = swap_case(test_string)
print('Swapping the case of characters:',swap_char)

Swapping the case of characters: wELCOME TO MY HOME

In [ ]:
#29. Remove a specific word from a string.
def rem_word(input_str,remv_word):  #define the function
  join_str = ''
  split_words = input_str.split() #split the string - output is list
  split_words.remove(remv_word) #remove the mentioned word from the list
  join_str =' '.join(split_words) #join the list to make it as a string
  return join_str #return the final modified string

input_str ='All is well'
remv_word = 'is'
modified_str = rem_word(input_str,remv_word) #call the function
print('Modified String: ',modified_str) #print the output

Modified String:  All well

In [ ]:
#30. Check if a string is a valid email address.
import re
def validate_email(email):
    if re.match(r"[^@]+@[^@]+\.[^@]+", email):  #match the string against pattern of mail
        return True
    return False

email = "example@domain.com"
if validate_email(email):  #call the function and check it is true
    print("Valid email address")  #print the output
else:
    print("Invalid email address")  #print the output

Valid email address

In [ ]:
#31. Extract the username from an email address string.
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "learnerpractise@gmail.com"
result = extract_username(email) #call the function
print(result) #print the username

learnerpractise

In [ ]:
#32. Extract the domain name from an email address string.
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

email = "learnerpractise@gmail.com"
result = extract_domain(email) #call the function
print(result) #print the domainname

gmail.com

In [ ]:
#33. Replace multiple spaces in a string with a single space.
def rem_multiple_space(input_str):  #define the function
  join_str = ''
  split_words = input_str.split() #split the string - output is list
  join_str =' '.join(split_words) #join the list with one space and make it as a string
  return join_str #return the final modified string

input_str ='   All    is          well                   '
modified_str = rem_multiple_space(input_str) #call the function
print('Modified String: ',modified_str) #print the output

Modified String:  All is well

In [ ]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse
def is_url(url): #define the function
  try:
    result = urlparse(url)
    return all([result.scheme, result.netloc])
  except ValueError:
    return False

input_url ='http://iz-blockchain.com'
resultv = is_url(input_url)
if resultv == True :
  print('Valid URL')
else:
  print('Invalid URL')

Valid URL

In [ ]:
#35. Extract the protocol (http or https) from a URL string.
from urllib.parse import urlparse
def is_url(url): #define the function
  try:
    result = urlparse(url)
    return all([result.scheme, result.netloc])
  except ValueError:
    return False

input_url ='http://iz-blockchain.com'
resultv = urlparse(input_url)
protocol = resultv.scheme
print('Protocol is ' + protocol)

Protocol is http

In [ ]:
#36. Find the frequency of each character in a string.
test_str = "malayalam" # initializing string
all_freq = {} #empty dictionary
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1

# printing result
print("Count of all characters is :\n "+ str(all_freq))

Count of all characters is :
 {'m': 2, 'a': 4, 'l': 2, 'y': 1}

In [ ]:
#37. Remove all punctuation from a string.
import string

def remove_all_punctuation(input_string):
    # Make a translation table that maps all punctuation characters to None
    translator = str.maketrans("", "", string.punctuation)

    # Apply the translation table to the input string
    result = input_string.translate(translator)

    return result

# Sample string with punctuation marks and spaces
text = "Hello, world! This is a sample string with punctuation. And spaces!"

# Remove punctuation from the string
output = remove_all_punctuation(text)

# Print the original and modified strings
print("Original string:", text)
print("String without punctuation:", output)

Original string: Hello, world! This is a sample string with punctuation. And spaces!
String without punctuation: Hello world This is a sample string with punctuation And spaces

In [ ]:
#38. Check if a string contains only digits.
def check_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()

string_input = "Meeting at 1600"
result = check_only_digits(string_input) #calling the function
print(f"'{string_input}' contains only digits:", result) #Print the results

'Meeting at 1600' contains only digits: False

In [ ]:
#39. Check if a string contains only alphabets.
def check_only_alphabets(input_string):
    # Check if all characters in the string are alphabets
    return input_string.isalpha()

string_input = "Meeting at 1600"
result = check_only_alphabets(string_input) #calling the function
print(f"'{string_input}' contains only alphabets:", result) #Print the results

'Meeting at 1600' contains only alphabets: False

In [ ]:
#40. Convert a string to a list of characters.
def string_to_list(input_string): #define the function
  return list(input_string) #convert string to list

input_string ='welcome' #string declaration
k = string_to_list(input_string) #calling the function
print(f"String '{input_string}' converted to List as :", k) #Print the results

String 'welcome' converted to List as : ['w', 'e', 'l', 'c', 'o', 'm', 'e']

In [ ]:
#41. Check if two strings are anagrams.
def check_anagrams(string1, string2): #function to check the anagram
     if(sorted(string1)== sorted(string2)): # the sorted strings are checked
        print(f"String '{string1}' and '{string2}' are anagrams.")
     else:
        print(f"String '{string1}' and '{string2}' aren't anagrams.")

input1 ="listen"
input2 ="silent"
input3 ='violet'
input4 = 'violent'
check_anagrams(input1, input2)
check_anagrams(input2, input3)
check_anagrams(input3,input4)

String 'listen' and 'silent' are anagrams.
String 'silent' and 'violet' aren't anagrams.
String 'violet' and 'violent' aren't anagrams.

In [ ]:
#42. Encode a string using a Caesar cipher.
def encode_caesar_cipher(text, shift): # Define a function
  encoded_text = "" #empty string
  for char in text: # Iterate through each character in the input string.
    if char.isalpha(): # Check if the character is alphabetic.
       encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a')) #shift to mentioned position to get the unicode
    else:
      encoded_char = char #If non-alphabetic, then keep as it is.
    encoded_text += encoded_char # Append the encoded character
  return encoded_text # Return the result

text = "datascientist"
shift = 3
encoded_text = encode_caesar_cipher(text, shift) #call the function
print("Encoded text:", encoded_text) # Print the final encoded value.

Encoded text: gdwdvflhqwlvw

In [ ]:
#43. Decode a Caesar cipher encoded string.
def decode_caesar_cipher(text, shift): # Define a function
  decoded_text = "" #empty string
  for char in text: # Iterate through each character in the input string.
    if char.isalpha(): # Check if the character is alphabetic.
       decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a')) #shift to mentioned position to get the decoded value
    else:
      decoded_char = char #If non-alphabetic, then keep as it is.
    decoded_text += decoded_char # Append the decoded character
  return decoded_text # Return the result

text = "gdwdvflhqwlvw"
shift = 3
decoded_text = decode_caesar_cipher(text, shift) #call the function
print("Decoded text:", decoded_text) # Print the final decoded value.

Decoded text: datascientist

In [ ]:
#44. Find the most frequent word in a string.
from collections import Counter
def most_frequent_word(input_string):
    formatted_string = input_string.lower() #change all to lower case for uniformity to get the count of words properly
    words = formatted_string.split() # Split the string into lists
    word_counter = Counter(words) # get the count of words
    print(f"'{words}' count:",word_counter)
    freq_word = word_counter.most_common(1)[0][0]
    return freq_word

input_str = "Data analyst know how to handle data well"
most_common = most_frequent_word(input_str) #calling the function
print("Most frequent word:", most_common) # Print the result

'['data', 'analyst', 'know', 'how', 'to', 'handle', 'data', 'well']' count: Counter({'data': 2, 'analyst': 1, 'know': 1, 'how': 1, 'to': 1, 'handle': 1, 'well': 1})
Most frequent word: data

In [ ]:
#45. Find all unique words in a string.
def all_unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()  #removes any punctiation if any and converts to lower
    words = set(clean_string.split()) # Split the string into lists - list doesn't allow duplicates.
    return words

input_str = "Data analyst know how to handle data well"
final_output = all_unique_words(input_str)
print(f"All Unique words in '{input_str}':", final_output) # Print the result

All Unique words in 'Data analyst know how to handle data well': {'analyst', 'data', 'well', 'know', 'to', 'handle', 'how'}

In [ ]:
#46. Count the number of syllables in a string.
import re #import the module for regular expression
def count_no_syllables(word): #define the function
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE) #count the vowels with ignoring
    return len(vowel_groups)

word1 = "Sometimes"
word2 = "Education"
word3 = "Knowledge"

# call  the function
syllables1 = count_no_syllables(word1)
syllables2 = count_no_syllables(word2)
syllables3 = count_no_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'Sometimes' has 4 syllables.
'Education' has 4 syllables.
'Knowledge' has 3 syllables.

In [ ]:
#47. Check if a string contains any special characters.
import re #import the module for regular expression
def special_characters(input_string): #define the function
     pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]') # regular expression pattern to match special characters
     match = pattern.search(input_string) # Use the search() method to find a match
     return bool(match)  # Return True if a match is found, False otherwise

# Example strings
string1 = "Home Sweet Home"
string2 = "Knowledge is power!!!"
string3 = "https:google.com;learnerpractise@gmail.com"

# Call the functions to Check if strings contain special characters
result1 = special_characters(string1)
result2 = special_characters(string2)
result3 = special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Home Sweet Home' contains special characters: False
'Knowledge is power!!!' contains special characters: True
'https:google.com;learnerpractise@gmail.com' contains special characters: True

In [ ]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string, n): #define the function
    words = input_string.split()  # Split the input string into lists
    if n >= 1 and n <= len(words):   # Check if n is within a valid range
        removed_word = words.pop(n - 1)  # Remove the nth word
        modified_string = ' '.join(words)  # Join the words now
        return modified_string, removed_word
    else:
        return None, None

input_str = input('Enter the string')
n_value = int(input('Enter the value to remove'))

modified_str, removed_word = remove_nth_word(input_str, n_value) #call the function

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Enter the stringConsistent, Hardwork never fails
Enter the value to remove2
Original string: Consistent, Hardwork never fails
Modified string: Consistent, never fails
Removed word: Hardwork

In [ ]:
#49. Insert a word at the nth position in a string.
def remove_nth_word(input_string, index,elem): #define the function
    words = input_string.split()  # Split the input string into lists
    if index >= 1 and index <= len(words):   # Check if n is within a valid range
        added_word = words.insert(index, elem)  # Add the new word at nth position
        modified_string = ' '.join(words)  # Join the words now
        return modified_string, added_word
    else:
        return None, None

input_str = input('Enter the string: ')
index = int(input('Enter the index position to insert new word: '))
elem =  input('Enter the string to add: ')

modified_str, added_word = remove_nth_word(input_str, index ,elem) #call the function

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Added word:", elem)
else:
    print("Invalid n value.")

Enter the string: Hardwork never fails
Enter the index position to insert new word: 1
Enter the string to add: Smartwork
Original string: Hardwork never fails
Modified string: Hardwork Smartwork never fails
Added word: Smartwork

In [ ]:
#50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string): #define function
    lines = csv_string.split('\n') # Split the string into lines
    result = []
    for line in lines:
        fields = line.split(',') # convert to lists separated by comma
        result.append(fields)  # Making as a row
    return result

csv_string = "ProductId, Productname, Amount\nP001, SmartWatch, 10000\nP002, Speaker, 15000\nP003, LEDTV, 60000"

list_of_lists = csv_string_to_list(csv_string) #call the function to convert to lists

# Print the result
for row in list_of_lists:
    print(row)

['ProductId', ' Productname', ' Amount']
['P001', ' SmartWatch', ' 10000']
['P002', ' Speaker', ' 15000']
['P003', ' LEDTV', ' 60000']

In [ ]:
#List Based Practice Problem :
#1. Create a list with integers from 1 to 10.
int_list = [i for i in range(1, 11)] #create a list from range
print(int_list) # Print the list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the `len()` function.
def find_len_list(input_list): #define a function with input as list
  count = 0 #variable to hold the count
  for i in input_list: #Iterate through the list to count the length
   count += 1
  return count

list_l = ["Its","Monday","today"]
count_list = find_len_list(list_l) #call the function
print(f"Length of '{list_l}' is", count_list)  #print the count

Length of '['Its', 'Monday', 'today']' is 3

In [ ]:
#3. Append an element to the end of a list.
orig_list = ["Sunday","Monday","Tuesday"]
print(f"Original List: {orig_list}") #print before appending the new element
orig_list.append("Wednesday") #append the new element at the end
print(f"Modified List: {orig_list}") #print after adding new element to the list

Original List: ['Sunday', 'Monday', 'Tuesday']
Modified List: ['Sunday', 'Monday', 'Tuesday', 'Wednesday']

In [ ]:
#4. Insert an element at a specific index in a list
org_list = ["January","March","April"]
print(f"Original List: {org_list}") #print before inserting the new element
org_list.insert(1,"February") #insert the new element at a specified index
print(f"Modified List: {org_list}") #print after adding new element to the list

Original List: ['January', 'March', 'April']
Modified List: ['January', 'February', 'March', 'April']

In [ ]:
#5. Remove an element from a list by its value
or_list = ["January","February","March","April"]
print(f"Original List: {or_list}") #print before removing element
or_list.remove("April") #remove the element in the list with value
print(f"Modified List: {or_list}") #print the list

Original List: ['January', 'February', 'March', 'April']
Modified List: ['January', 'February', 'March']

In [ ]:
#6. Remove an element from a list by its index
or_list = ["January","February","March","April"]
print(f"Original List: {or_list}") #print before removing element
or_list.pop(3) #remove the element in the list with index
print(f"Modified List: {or_list}") #print the list

Original List: ['January', 'February', 'March', 'April']
Modified List: ['January', 'February', 'March']

In [ ]:
#7. Check if an element exists in a list.
def if_elem_exists(input_string,elem_to_check): #define the function
  if elem_to_check in or_list: #if condition to check the element is exists in list
   print(f"'{elem_to_check}' exists in {or_list}") #print the result
  else:
   print(f"'{elem_to_check}' doesn't exists in {or_list}") #print the result

or_list = ["January","February","March","April"]
string1 = 'May'
string2 ="March"
#call the function
if_elem_exists(or_list,string1)
if_elem_exists(or_list,string2)

'May' doesn't exists in ['January', 'February', 'March', 'April']
'March' exists in ['January', 'February', 'March', 'April']

In [ ]:
#8. Find the index of the first occurrence of an element in a list.
list_var =[11,2,3,4,2,3,6]
search_elem = 2 #element to search in the list
pos_var = list_var.index(search_elem) #find the index of an element using index
print(f" Position of '{search_elem}' in {list_var} is {pos_var}") #print the result

 Position of '2' in [11, 2, 3, 4, 2, 3, 6] is 1

In [ ]:
#9. Count the occurrences of an element in a list.
list_var =[11,2,3,4,2,3,6,44,3,11,3,4,3]
search_elem = 3 #element to search in the list
count_var = list_var.count(search_elem) #find the index of an element using index
print(f" Count of '{search_elem}' in {list_var} is {count_var}") #print the result

 Count of '3' in [11, 2, 3, 4, 2, 3, 6, 44, 3, 11, 3, 4, 3] is 5

In [ ]:
#10. Reverse the order of elements in a list.
list_orig =[1,2,3,4,5,6]
print(f"Original list: {list_orig}") #Before reversing
list_orig.reverse() #reverse the list
print(f"Reverse Ordered List: {list_orig}") #print the result

Original list: [1, 2, 3, 4, 5, 6]
Reverse Ordered List: [6, 5, 4, 3, 2, 1]

In [ ]:
#11. Sort a list in ascending order.
list1 = [100,90,80,70,60,50,40,30,20,10]
print(f"Original list: {list1}") #Before sorting
list1.sort() # Sort the list in ascending order
print(f"Ascending order List:{list1}") # Print the sorted list

Original list: [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
Ascending order List:[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#12. Sort a list in descending order.
list2 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(f"Original list: {list2}") #Before sorting
list2.sort(reverse=True) # Sort the list in ascending order
print(f"Descending order List:{list2}") # Print the sorted list

Original list: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Descending order List:[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
#13. Create a list of even numbers from 1 to 20.
even_list = [i for i in range(2, 20,2)] #create a even list from range
print(even_list) # Print the list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.
odd_list = [i for i in range(1, 20,2)] #create a odd list from range
print(odd_list) # Print the list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list.
l_list = [i for i in range(1, 20,2)] #create a odd list from range
sum_elm = sum(l_list) #to get the sum of all elements in list
print(f"List:{l_list}\nSum:{sum_elm}")

List:[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Sum:100

In [ ]:
#16. Find the maximum value in a list.
l_list = [i for i in range(1, 20,2)] #create a odd list from range
max_elm = max(l_list) #to get the max in list
print(f"List:{l_list}\nMaximum:{max_elm}")

List:[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Maximum:19

In [ ]:
from pdb import main
# 17. Find the minimum value in a list.
l_list = [i for i in range(1, 20,2)] #create a odd list from range
min_elm = min(l_list) #to get the minimum in list
print(f"List:{l_list}\nMinimum:{min_elm}")

List:[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Minimum:1

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.
sqr_list = [i**2 for i in range(1, 11)] #create a square list from range
print(f"Square List:{sqr_list}") #print the squares list

Square List:[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.
import random #import module
random_integers = [random.randint(1, 50) for _ in range(10)] #Create random no. list
print("List of random integers:", random_integers) # Print list of random numbers.

List of random integers: [44, 46, 22, 14, 16, 2, 9, 1, 44, 8]

In [ ]:
#20. Remove duplicates from a list.
dupl_list = [11, 2, 3, 4, 2, 3, 6, 44, 3, 11, 3, 4, 3]
unique_list = list(set(dupl_list)) #convert to set - set is unique and then convert again to list
print("unique:", unique_list) # Print the list without duplicates

unique: [2, 3, 4, 6, 11, 44]

In [ ]:
#21. Find the common elements between two lists.
list1 = [1,2,3,4,5,6]
list2 = [5,6,7,8,9,10]
set_l1 = set(list1) #convert the lists to set
set_l2 = set(list2) #convert the lists to set
if (set_l1 & set_l1): #checks the common between two sets
   print(list(set_l1 & set_l2))  #convert the common of two sets to list again and print
else:
  print("No common elements")

[5, 6]

In [ ]:
#22. Find the difference between two lists.
list1 = [1,2,3,4,5,6]
list2 = [5,6,7,8,9,10]
difference = list(set(list1).difference(list2)) #to find the difference between sets and convert to list again
print("Difference between lists:", difference) # Print the result

Difference between lists: [1, 2, 3, 4]

In [ ]:
#23. Merge two lists.
list1 = [1,2,3,4,5,6]
list2 = [5,6,7,8,9,10]
merged = list1 + list2 #to merge the two lists
print("Merged Lists:", merged) # Print the result

Merged Lists: [1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 10]

In [ ]:
#24. Multiply all elements in a list by 2.
list1 = [1,2,3,4,5,6]
multiply_list = [l * 2 for l in list1] #multiply by 2 of list1 to get the 2's multiply list
print("Multiply Lists:", multiply_list) # Print the result

Multiply Lists: [2, 4, 6, 8, 10, 12]

In [ ]:
#25. Filter out all even numbers from a list.
lis = [1, 2, 3, 4, 5]
out = []
for num in lis: #iterate through the lists
    if num % 2 == 0:     # checking condition
        out.append(num)  #appending the even nos. to the list
print("Even numbers list",out)

Even numbers list [2, 4]

In [ ]:
#26. Convert a list of strings to a list of integers.
string_list = ["10", "20", "30", "40", "50"]
int_list = [int(x) for x in string_list]#convert to int
print("List of integers:", int_list)# Print the list of integers

List of integers: [10, 20, 30, 40, 50]

In [ ]:
#27. Convert a list of integers to a list of strings.
int_list = [10, 20, 30, 40, 50]
string_list = [str(x) for x in string_list]#convert to int
print("List of strings:", string_list)# Print the list of strings

List of strings: ['10', '20', '30', '40', '50']

In [ ]:
#28. Flatten a nested list.
def flatten_list(nested):#function to flatten
    output = []
    for sublist in nested: #iterate through the list
        if isinstance(sublist, list):
            output.extend(flatten_list(sublist)) #recursive function calling the function again
        else:
            output.append(sublist)
    return output

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9,[10,11]]]
flattened_list = flatten_list(nested_list) # Call function Flatten, the nested list
print("Flattened list:", flattened_list) # Print the flattened list

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.
def fibonacci(n): #function to generate the fibonacci number
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
fibonacci_numbers = fibonacci(10) # Generate the first 10 Fibonacci numbers, call the function
print("List of the first 10 Fibonacci numbers:", fibonacci_numbers) # Print the list of Fibonacci numbers

List of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#30. Check if a list is sorted.
def is_sorted(lst): #define a function to check its sorted
 for i in range(1, len(lst)):
       if lst[i] < lst[i - 1]:
          return False
 return True
list_input = [10, 20, 30, 40, 50]
if is_sorted(list_input):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [ ]:
# 31. Rotate a list to the left by n positions.
def rotate_list_left(lst, n): # Function to rotate a list to the left by n positions
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

n = 5 # Number of positions to rotate

rotated_list = rotate_list_left(my_list, n)# Rotate the list to the left by n positions

print("Rotated list:", rotated_list)# Print the rotated list

Rotated list: [6, 1, 2, 3, 4, 5]

In [ ]:
#32. Rotate a list to the right by `n` positions.
def rotate_list_right(lst, n): # Function to rotate a list to the right by n positions
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

n = 3 # Number of positions to rotate

rotated_list = rotate_list_right(my_list, n)# Rotate the list to the right by n positions

print("Rotated list:", rotated_list)# Print the rotated list

Rotated list: [4, 5, 6, 1, 2, 3]

In [ ]:
#33. Create a list of prime numbers up to 50.
def list_prime_no(input): #define a new function
   list_prime = [2,3]
   for i in range(2,input) : #Iterate through the loop
     if i % 2 != 0 and i % 3 !=0 : #if a no. is divisible by 2 or 3 then it is not a prime no.
      list_prime.append(int(i)) #adding the no. which is not divisible by 2,3 to the List
   return list_prime   #return the list

upto = 50 #variable for maximum no. of prime no.
list_out = list_prime_no(upto) #call the function
print("Prime No. List:", list_out)# Print the result

Prime No. List: [2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49]

In [ ]:
#34. Split a list into chunks of size n.
from collections import deque

def split_list(input_list, chunk_size):
  # Create a deque object from the input list
  deque_obj = deque(input_list)
  # While the deque object is not empty
  while deque_obj:
      # Pop chunk_size elements from the left side of the deque object
      # and append them to the chunk list
      chunk = []
      for k in range(chunk_size):
        if deque_obj:
          chunk.append(deque_obj.popleft())

      # Yield the chunk
      yield chunk
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = list(split_list(input_list, chunk_size))
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [ ]:
#35. Find the second largest number in a list
list_sec =[2,4,8,3,1,7,9,3,9] #list to find from
set_s = set(list_sec) # convert to set to remove any duplicates
set_s
if len(set_s) > 1 : #check the size of set, if list has only one element, then no need for 2nd largest finding.
  processed_list = list(set_s) #move the set to list so that can find value by index wise
  processed_list.sort(reverse=True) #Arrange the list in Descending order
  #get the second index of set and print
  print(f"Second Largest No.:'{processed_list[1]}', in the given list'{list_sec}'")
else:
  print('List Length is lesser than 2')  #If length is less than 2, printing it.

Second Largest No.:'8', in the given list'[2, 4, 8, 3, 1, 7, 9, 3, 9]'

In [ ]:
#36. Replace every element in a list with its square.
list_rep =[1,2,3,4,5,6,7] #input list
list_fin=[] #empty list to hold the calculated value as a list
for i in list_rep: #iterate thro' input list
  list_fin.append(i*i) #square of each element in the list
print('Square list:',list_fin )

Square list: [1, 4, 9, 16, 25, 36, 49]

In [ ]:
#37. Convert a list to a dictionary where list elements become keys and their indices become value
my_list = ['Asia', 'Europe', 'Australia', 'Africa']
# Convert list to dictionary using dictionary
my_dict = {element: index for index, element in enumerate(my_list)}
# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'Asia': 0, 'Europe': 1, 'Australia': 2, 'Africa': 3}

In [ ]:
#38. Shuffle the elements of a list randomly.
import random
# input list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Shuffle the list randomly
random.shuffle(my_list)
# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [1, 6, 5, 8, 7, 9, 10, 2, 4, 3]

In [ ]:
#39. Create a list of the first 10 factorial numbers.
def fact_no(input_no):
  fact_val=1
  while input_no > 1:
    fact_val *=input_no
    input_no -=1
  return fact_val

# Create a list of the first 10 factorial numbers
list_factorial = [fact_no(i) for i in range(10)]

# Print the list of first 10 factorial numbers
print("List of the first 10 factorial numbers:", list_factorial)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
#40. Check if two lists have at least one element in common.
set_l1 = set([1, 2, 3, 4, 5]) #convert list to set
set_l2 = set([4, 5, 6, 7, 8])  #convert list to set

if (set_l1 & set_l1): #checks the common between two sets
   print('Common elements', list(set_l1 & set_l2))  #convert the common of two sets to list again and print
else:
  print("No common elements")

Common elements [4, 5]

In [ ]:
#41. Remove all elements from a list.
list_elem = [1, 2, 3, 4, 5] #input list
list_elem.clear() #remove all elements from the lists
list_elem

[]

In [ ]:
#42. Replace negative numbers in a list with 0.
list_elem = [1, -2, 10,3, -4, -5] #list
for i in range(len(list_elem)): #iterate thro list to process
    if list_elem[i] < 0: # check if the element is negative
        list_elem[i] = 0 #if so, replace with 0

print('Replaced Lists:',list_elem) #print replaced lists

Replaced Lists: [1, 0, 10, 3, 0, 0]

In [ ]:
#43. Convert a string into a list of words.
string_var ='Aim for the highest' #input string
list_elem = string_var.split() #split to make it as list of words
print('Words List:',list_elem) #print the result

Words List: ['Aim', 'for', 'the', 'highest']

In [ ]:
#44. Convert a list of words into a string.
words_list = ['Aim', 'for', 'the', 'highest'] #list to process
words = ' '.join(words_list) #using join to combine the elements in lists"
words #print the result

'Aim for the highest'

In [ ]:
#45. Create a list of the first `n` powers of 2.
n = 5
power_list = [2 ** i for i in range(n)] # list of the first n powers of 2 using a loop
print("List of the first", n, "powers of 2:", power_list) # Print the list of powers of 2

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [ ]:
#46. Find the longest string in a list of strings.
# Example list of strings
string_list = ["TamilNadu", "Telungana", "Delhi", "Mumbai", "Kerala"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: TamilNadu

In [ ]:
#47.Find the shortest string in a list of strings.
# Example list of strings
string_list = ["TamilNadu", "Telungana", "Delhi", "Mumbai", "Kerala"]

# Find the longest string in the list
shortest_string = string_list[0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: Delhi

In [ ]:
#48. Create a list of the first `n` triangular numbers.
n = 8
tring_list = [i * (i + 1) // 2 for i in range(1, n + 1)] #obtained by continued summation of the natural numbers 1, 2, 3, 4, 5, etc.
tring_list

[1, 3, 6, 10, 15, 21, 28, 36]

In [ ]:
#49. Check if a list contains another list as a subsequence.
main_list =[1,2,3,4,6,7,8,9] #main list
sub_list =[1,2,3] #subsequence list
set_l = set(main_list) #convert list to set
set_b = set(sub_list) #convert list to set
if(set_l & set_b): #find is there any common between two sets
  if (set_l & set_b) == set_b: #if common, then this common is equal to subsequent
    print('List contains subsequence')
  else:
    print('List does not contains subsequence')
else:
  print('List does not contains subsequence')

List contains subsequence

In [ ]:
#50. Swap two elements in a list by their indices.
# Example list
my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [ ]:
#Tuple Based Practice Problem :
#1. Create a tuple with integers from 1 to 5.
tup_int = (1,2,3,4,5)
tup_int #print

(1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple.
tup_int = (1,2,3,4,5)
print('3rd element:',tup_int[2]) #print the third element

3rd element: 3

In [ ]:
#3. Find the length of a tuple without using the `len()` function.
tup_int = (1,2,3,4,5)
k=0

for _ in tup_int: #iterate thro tuple
  k =k+1
print('Length of Tuple:',k) #length of tuple without using len()

Length of Tuple: 5

In [ ]:
#4. Count the occurrences of an element in a tuple.
my_tuple = (10, 20, 30, 20, 40, 50, 20)
element = 50 #element to count occurrences of
count = 0

for item in my_tuple: #Iterate through the tuple and count occurrences of the element
    if item == element:
        count += 1

# Step 5: Print the count of occurrences
print(f"The element {element} appears {count} times in the tuple.")

The element 50 appears 1 times in the tuple.

In [ ]:
#5. Find the index of the first occurrence of an element in a tuple.
tuple_inp = (10, 20, 30, 20, 40, 50)
element_to_find = 20
index = -1  # Initialize with -1 to indicate that the element was not found

for i, item in enumerate(tuple_inp): #Iterate through the tuple and find the index of the chosen element
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")  #Print the index of the first occurrence
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [ ]:
# 6. Check if an element exists in a tuple.
my_tuple = (10, 20, 30, 40, 50)

#Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [ ]:
#7. Convert a tuple to a list.
tuple_inp = (1,2,3,4,5) #tuple input
list_out =list(tuple_inp)#convert to list
print('Converted List:',list_out) #print list

Converted List: [1, 2, 3, 4, 5]

In [ ]:
#8. Convert a list to a tuple
list_inp = [1, 2, 3, 4, 5] #input list
conv_tuple = tuple(list_inp)#convert to tuple
type(conv_tuple)
print(f"Converted Tuple:'{list_out}'\nType:'{type(conv_tuple)}'") #print tuple

Converted Tuple:'[1, 2, 3, 4, 5]'
Type:'<class 'tuple'>'

In [ ]:
#9. Unpack the elements of a tuple into variables.
tuple_inp = (1,2,5) #tuple input
var1,var2,var3 = tuple_inp #assigning Tuple to Variables
print(var1,var2,var3) #print the  variable

1 2 5

In [ ]:
#10. Create a tuple of even numbers from 1 to 10.
even_list = [x for x in range(2, 11, 2)]  # Start from 2, step by 2, end at 10
even_tuple = tuple(even_list) #converting list to tuple
print('Even no tuple',even_tuple)#print output

Even no tuple (2, 4, 6, 8, 10)

In [ ]:
#11. Create a tuple of odd numbers from 1 to 10.
odd_list = [x for x in range(1, 11, 2)]  # Start from 1, step by 2, end at 10
odd_tuple = tuple(odd_list) #converting list to tuple
print('Even no tuple',odd_tuple)#print output

Even no tuple (1, 3, 5, 7, 9)

In [ ]:
#12. Concatenate two tuples.
tuple1 = (1,2,3) #tuple1 input
tuple2 = (11,12,13) #tuple2 input
tuple_out = tuple1 +tuple2 #concatenate two tuples
print(tuple_out) #print the output

(1, 2, 3, 11, 12, 13)

In [ ]:
#13. Repeat a tuple three times.
tuple1 = (1,2,3) #tuple1 input
print(3*tuple1) #repeat three times

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#14. Check if a tuple is empty.
tuple1 = (1,2,3) #tuple1 input
if not tuple1 :
  print('Tuple is empty')
else:
  print('Tuple is not empty')

Tuple is not empty

In [ ]:
#15. Create a nested tuple.
nest_tuple = ((1,2,3),('Welcome','Back')) #nested tuple
print(nest_tuple) #print tuple

((1, 2, 3), ('Welcome', 'Back'))

In [ ]:
#16. Access the first element of a nested tuple.
nest_tuple = ((1,2,3),('Welcome','Back')) #nested tuple
print(nest_tuple[0]) #print first element of the tuple

(1, 2, 3)

In [ ]:
#17. Create a tuple with a single element.
tuple_inp=(1,)
print(tuple_inp[0]) #print the tuple

1

In [ ]:
#18. Compare two tuples.
tuple1 = (1,2,3) #tuple1 input
tuple2 = (11,12,13) #tuple2 input
if (tuple1 == tuple2): #compare two tuples
  print(f"'{tuple1}' and '{tuple2}' are same") #print the result
else:
  print(f"'{tuple1}' and '{tuple2}' are not same")

'(1, 2, 3)' and '(11, 12, 13)' are not same

In [ ]:
#19. Delete a tuple.
tuple1 = (1,2,3) #tuple1 input
tuple1
del tuple1 #deleting tuple
tuple1 #after deletion, its not available, so showing error

NameError: ignored

In [ ]:
#20. Slice a tuple.
tuple1 = (1,3,6,7,8,10,4,5) #input tuple
sliced_tuple = tuple1[2:6] #sliced the tuple
print('Sliced Tuple:',sliced_tuple)#print the result

Sliced Tuple: (6, 7, 8, 10)

In [ ]:
#21. Find the maximum value in a tuple.
tuple1 = (1,3,6,7,8,10,4,5) #input tuple
max_value = max(tuple1) #maximum of the tuple
print(f"Maximum of '{tuple1}' is '{max_value}'") #print the result

Maximum of '(1, 3, 6, 7, 8, 10, 4, 5)' is '10'

In [ ]:
#22. Find the minimum value in a tuple.
tuple1 = (1,3,6,7,8,10,4,5) #input tuple
min_value = min(tuple1) #minimum of the tuple
print(f"Minimum of '{tuple1}' is '{min_value}'") #print the result

Minimum of '(1, 3, 6, 7, 8, 10, 4, 5)' is '1'

In [ ]:
#23. Convert a string to a tuple of characters.
inp_string ='Datascientist' #input string
final_tuple = tuple(inp_string) #Converting to tuple
print('Tuple:',final_tuple) #print the tuple

Tuple: ('D', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 't', 'i', 's', 't')

In [ ]:
#24. Convert a tuple of characters to a string.
inp_tuple= ('D', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 't', 'i', 's', 't') #input tuple
inpu_str = ''.join(inp_tuple) #convert to string
print(inpu_str) #print the string

Datascientist

In [ ]:
#25. Create a tuple from multiple data types.
inp_tuple = (1,2,'3','welcome','w','e',True) #create a multiple data types tuple
print(inp_tuple) #print the result

(1, 2, '3', 'welcome', 'w', 'e', True)

In [ ]:
#26. Check if two tuples are identical.
tuple1 = (1,2,3) #tuple1 input
tuple2 = (11,12,13) #tuple2 input
if tuple1 == tuple2: #check two tuples are same or not
  print(f"Tuples '{tuple1}' and '{tuple2}' are identical")
else:
  print(f"Tuples '{tuple1}' and '{tuple2}' are non-identical")

Tuples '(1, 2, 3)' and '(11, 12, 13)' are non-identical

In [ ]:
#27. Sort the elements of a tuple.
tuple2 = (22,18,11,12,13) #tuple2 input
sort_tuple = tuple(sorted(tuple2)) #sort tuple
print('Sorted Tuple:',sort_tuple) #print the result

Sorted Tuple: (11, 12, 13, 18, 22)

In [ ]:
#28. Convert a tuple of integers to a tuple of strings.
tuple1 = (11, 12, 13, 18, 22) #tuple1 input
tuple_str = tuple(str(x) for x in tuple1) #convert to string and save in a tuple
print('Tuple of strings:',tuple_str)#print the result

Tuple of strings: ('11', '12', '13', '18', '22')

In [ ]:
#29. Convert a tuple of strings to a tuple of integers.
tuple1 = ('11', '12', '13', '18', '22') #tuple1 input
tuple_int = tuple(int(x) for x in tuple1) #convert to int and save in a tuple
print('Tuple of Integers:',tuple_int)#print the result

Tuple of Integers: (11, 12, 13, 18, 22)

In [ ]:
#30. Merge two tuples.
tuple1 = (1,2,3) #tuple1 input
tuple2 = (100,102,103) #tuple2 input
tuple_out = tuple1 +tuple2 #concatenate two tuples
print('Merged tuples',tuple_out) #print the output

Merged tuples (1, 2, 3, 100, 102, 103)

In [ ]:
#31 Flatten a nested tuple
def flatten_tuple(nested_tuple): #function
    flattened = []
    for item in nested_tuple: #iterate thro the tuple
        if isinstance(item, tuple): #if its nested or not
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8))) #input tuple

flatten_tup = tuple(flatten_tuple(nested_tuple)) #call the function

print("Flattened tuple:", flatten_tup) #print the result

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_tuple = tuple(prime_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [ ]:
#33. Check if a tuple is a palindrome.
tuple1 =(1,2,1) #input tuple1
rev_tuple = tuple1[::-1]
if tuple1 == rev_tuple:
  print(f"'{tuple1}' is a Palindrome")
else:
  print(f"'{tuple1}' is not a Palindrome")

'(1, 2, 1)' is a Palindrome

In [ ]:
#34. Create a tuple of squares of numbers from 1 to 5.
sqr_tuple =tuple(x*x for x in range(1, 6)) #squre of no. from 1 to 5
print('Square Tuples:',sqr_tuple) #print the tuple

Square Tuples: (1, 4, 9, 16, 25)

In [ ]:
#35. Filter out all even numbers from a tuple.
tuple_inp = (1,2,5,7,8,10) #input tuple
tuple_even = tuple(num for num in tuple_inp if num % 2 == 0) #check if its even no and save in tuple
print('Even Tuple:',tuple_even)#print the result

Even Tuple: (2, 8, 10)

In [ ]:
#36. Multiply all elements in a tuple by 2.
tuple_inp = (1,2,5,7,8,10) #input tuple
tuple_2mult = tuple(i*2 for i in tuple_inp) #multiply by two
print('Even Tuple:',tuple_2mult)#print the result

Even Tuple: (2, 4, 10, 14, 16, 20)

In [ ]:
#37. Create a tuple of random numbers.
import random #import module
rnd_tuple = tuple(random.randint(1, 100) for _ in range(5))  # Generating 10 random numbers between 1 and 100
print('Random Tuple',rnd_tuple)

Random Tuple (68, 5, 5, 25, 22)

In [ ]:
#38. Check if a tuple is sorted.
def check_sorttup(tuple_inp): #create a function
  for x in range(len(tuple_inp)-1): #iterate through the tuple
    if tuple_inp[x] > tuple_inp [x+1]: #check two numbers, predecessor is greater than successor
      return print('Tuple is not sorted') #if predecessor is greater than successor, then it is not sorted
  return print('Tuple is sorted') # In For loop, the if condition doesn't meet, then it should be a sorted tupler

tuple_inp = (1,2,5,3,7,8,10) #input tuple
check_sorttup(tuple_inp)#call the function

Tuple is not sorted

In [ ]:
#39. Rotate a tuple to the left by `n` positions.
def rot_tupleft(tup, n):
    n = n % len(tup)  # Check n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rot_tupleft(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.
def rot_tupright(tup, n):
    n = n % len(tup)  # Check n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rot_tupright(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [ ]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def fibonacci(n): #function to generate the fibonacci number
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers, since tuple is immutable using list here42. Create a tuple from user input.
    for i in range(2, n): #iterate through the upto n number
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2] #sum of previous two nos.
        fibonacci_list.append(next_fibonacci) #append
    return tuple(fibonacci_list) #return as tuple
fibonacci_numbers = fibonacci(5) # Generate the first 5 Fibonacci numbers, call the function
print("List of the first 10 Fibonacci numbers:", fibonacci_numbers) # Print the list of Fibonacci numbers

List of the first 10 Fibonacci numbers: (0, 1, 1, 2, 3)

In [ ]:
#42. Create a tuple from user input.
input_str = input("Enter elements separated by commas: ") #get input from user
input_list = input_str.split(',') ## Splitting the input string into a list of strings

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas: 1,3,5,6,9
User input tuple: ('1', '3', '5', '6', '9')

In [ ]:
#43. Swap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)
# Swap elements at indices 1 and 3
index1 = 0
index2 = 4
swap_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swap_tuple)

Swapped tuple: (5, 2, 3, 4, 1)

In [ ]:
# 44. Reverse elements of tuple
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1] # Reverse the elements using slicing

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [ ]:
### 45. Create a tuple of the first `n` powers of 2.
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers2_tup = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers2_tup)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [ ]:
#### 46. Find the longest string in a tuple of strings.
# Create a tuple of strings
string_tuple = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: Wednesday

In [1]:
### 47. Find the shortest string in a tuple of strings.
# Create a tuple of strings
string_tuple = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday")

# Find the shortest string in the tuple
longest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", longest_string)

Shortest string: Sunday

In [2]:
#48. Create a tuple of the first n triangular numbers.
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangle_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "Triangular numbers:", triangle_tuple)

Tuple of the first 5 Triangular numbers: (1, 3, 6, 10, 15)

In [3]:
#49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [4]:
#50. Create a tuple of alternating 1s and 0s of length n.
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [5]:
#Set based problems:
#1. Create a set with integers from 1 to 5
input_set = {1,2,3,4,5} #create a set from 1 to 5
print(input_set)
type(input_set)

{1, 2, 3, 4, 5}

set

In [6]:
#2. Add an element to a set
input_set ={1,2,3,4,5} #input set
input_set.add(9) #adding an element to set
print(input_set)

{1, 2, 3, 4, 5, 9}

In [7]:
# 3. Remove an element from a set.
input_set ={1,2,3,4,5,9} #input set
input_set.remove(9) #removing an element to set
print(input_set) #print the result

{1, 2, 3, 4, 5}

In [ ]:
#4. Check if an element exists in a set.
input_set ={1,2,3,4,5,9} #input set
to_check = 9
if to_check in input_set: #checking an element is in set
   print(f"'{to_check}' exists in '{input_set}'") #print the result
else:
   print(f"'{to_check}' does not exists in '{input_set}'") #print the result

'9' exists in '{1, 2, 3, 4, 5, 9}'

In [ ]:
#5. Find the length of a set without using the len() function
input_set = {1,2,3,4,5,9} #input set
count_var =0 #variable to hold the count
for i in input_set:
  count_var +=1
print(f"Length of Set{input_set} is {count_var}")

Length of Set{1, 2, 3, 4, 5, 9} is 6

In [ ]:
#6. Clear all elements from a set.
input_set = {1,2,3,4,5,9} #input set
#print(input_set) #print
input_set.clear() #clear the set
print(len(input_set)) #after clearing the set, length is 0

0

In [ ]:
#7.Create a set of even numbers from 1 to 10
even_set = set(i for i in range(0,11,2)) #from 1 to 10, step by 2 and change to set
print(even_set) #print the result

{0, 2, 4, 6, 8, 10}

In [ ]:
#8. Create a set of odd numbers from 1 to 10
even_set = set(i for i in range(1,11,2)) #from 1 to 10, step by 2 and change to set
print(even_set) #print the result

{1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two sets
set1 ={1,2,3,4,5} #input set1
set2 ={6,7,8,9,10} #input set2
final_set = set1.union(set2)#set union using union function
print(final_set) #print the result

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#10. Find the intersection of two sets
set1 ={1,2,3,4,5,6} #input set1
set2 ={6,7,8,9,10} #input set2
final_set = set1.intersection(set2)#set intersection using intersection function
print(final_set) #print the result

{6}

In [ ]:
#11. Find the difference between two sets.
set1 ={1,2,3,4,5,6} #input set1
set2 ={6,7,8,9,10} #input set2
final_set = set1.difference(set2)#set difference using difference function
print(final_set) #print the result

{1, 2, 3, 4, 5}

In [ ]:
#12. Check if a set is a subset of another set.
set1 ={1,2,3,4,5,6} #input set1
set2 ={6,7,8,9,10} #input set2
final_set = set1.issubset(set2)#check issubset using issubset
print(final_set) #print the result

False

In [ ]:
#13. Check if a set is a superset of another set.
set1 ={1,2,3,4,5,6,9,10} #input set1
set2 ={6,9,10} #input set2
final_set = set1.issuperset(set2)#check superset using issubset
print(final_set) #print the result

True

In [ ]:
#14. Create a set from a list
list_inp = [1,2,3,3] #list
set_fromlist= set(list_inp) #convert list to set
print(set_fromlist) #print the set

{1, 2, 3}

In [ ]:
#15. Convert a set to a list.
set_inp = {1,2,3,3} #set
list_fromset= list(set_inp) #convert set to list
print(list_fromset) #print the list

[1, 2, 3]

In [ ]:
#16. Remove a random element from a set.
import random #import module
set_inp = {1,2,3,3} #set
randomelm= random.choice(list(set_inp)) #convert set to list and get an element randomly
set_inp.remove(randomelm) #remove the random element
print(set_inp) #print the set

{2, 3}

In [8]:
#17. Pop an element from a set.
set_inp = {1,2,3,3} #set

print('Original Set:', set_inp) #print
pop_elmt = set_inp.pop() #pop element
print('Pop element:',pop_elmt) #print
print('After pop, Set:',set_inp) #print

Original Set: {1, 2, 3}
Pop element: 1
After pop, Set: {2, 3}

In [ ]:
#18. Check if two sets have no elements in common.
set1 ={1,2,3,4,5,6} #input set1
set2 ={6,7,8,9,10} #input set2
final_set = set1.intersection(set2)#finding common elements using intersection function
if not final_set: #if common elements is empty or None
  print('No Common elements')   #print
else:
  print('Common elements:',final_set)   #print

Common elements: {6}

In [ ]:
#19. Find the symmetric difference between two sets.
set1 ={1,2,3,4,5,6} #input set1
set2 ={6,7,8,9,10} #input set2
final_set = set1^set2 #finding symmetric difference
if not final_set: #if common elements is empty or None
  print('No Symmetric difference')   #print
else:
  print('Symmetric difference:',final_set)   #print

Symmetric difference: {1, 2, 3, 4, 5, 7, 8, 9, 10}

In [ ]:
#20. Update a set with elements from another set.
set1 = {1, 2, 3}
print('Original Set:', set_inp) #print

set2 = {3, 4, 5}
print("Another Set:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set:", set1)

Original Set: {2, 3}
Another Set: {3, 4, 5}
Updated Set: {1, 2, 3, 4, 5}

In [ ]:
#21. Create a set of the first 5 prime numbers.
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [ ]:
  #22. Check if two sets are identical.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}

if set1 == set2: #compares the content of the sets.
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [ ]:
#23. Create a frozen set
elements = [1, 2, 3, 4, 5]

frozen_set = frozenset(elements)

print("Frozen Set:", frozen_set)#  Print the frozen set

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [ ]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)  #Check if a set is disjoint with another set.

print("Are the sets disjoint?", disjoint_status) #Print the result

Are the sets disjoint? True

In [ ]:
#25. Create a set of squares of numbers from 1 to 5.
sqr_set = set()

for i in range (1,6): #iterate thro range
  sqr_set.add(i*i) #calculate square and adding to the set
print('Set of squares of numbers from 1 to 5:',sqr_set)#print the result

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

In [ ]:
#26. Filter out all even numbers from a set.
input_set = {1, 4, 9, 16, 25}
even_set=set()
for i in input_set:
  if(i % 2 == 0):
    even_set.add(i)
print(f"All even numbers in {input_set} set:{even_set}") #print the result

All even numbers in {16, 1, 4, 9, 25} set:{16, 4}

In [ ]:
#27. Multiply all elements in a set by 2.
input_set = {1, 4, 9, 16, 25}
multiply_set=set()
for i in input_set:
  multiply_set.add(i*2)
print(f"Multiply by 2 in {input_set} set:{multiply_set}") #print the result

Multiply by 2 in {16, 1, 4, 9, 25} set:{32, 2, 8, 18, 50}

In [ ]:
#28. Create a set of random numbers.
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 80)  # Generate a random number between 1 and 100
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set) #print the random numbers set

Generated set of random numbers: {1, 5, 40, 8, 72}

In [ ]:
#29. Check if a set is empty.
input_set = {1, 4, 9, 16, 25}
if not input_set:
  print("The set is empty.")
else:
    print("The set is not empty.")

The set is not empty.

In [ ]:
#30 Create a nested set (hint: use frozenset).
set1 = {1, 2, 3, 4, 5}
set2 = {8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2} #combine the frozen set

print("Nested Set:", nested_set) # Print the nested set

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({8, 9, 10})}

In [ ]:
#31. Remove an element from a set using the discard method.
set1 = {1, 2, 3, 4, 5}
print('Before removal of element, Set:',set1)
set1.discard(3) #remove element using discad
print('After removal of element, Set:',set1)

Before removal of element, Set: {1, 2, 3, 4, 5}
After removal of element, Set: {1, 2, 4, 5}

In [ ]:
#32. Compare two sets.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
if set1 == set2: #check two sets are equal
 print('Both Sets have same elements')
else:
  print('Sets are different')

if set1.issubset(set2) :
    print('Set1 is subset of Set2')
else:
  print('Set1 is not subset of Set2')


if set1.issuperset(set2) :
    print('Set1 is superset of Set2')
else:
  print('Set1 is not superset of Set2')


if not set1.intersection(set2) :
    print('No Intersection')
else:
  print('Intersection:',set1.intersection(set2))

if not set1.union(set2) :
    print('No union')
else:
  print('Union:',set1.union(set2))

Sets are different
Set1 is not subset of Set2
Set1 is not superset of Set2
No Intersection
Union: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#33.Create a set from a string.
inp_str ='Welcome' #input string
conv_set = set(inp_str) #convert string to set
print(f"Converted Set:",conv_set) #print the result

Converted Set: {'c', 'e', 'o', 'm', 'W', 'l'}

In [ ]:
#34. Convert a set of strings to a set of integers.
input_str ={'1','2','3','4'} #input string set
int_set=set(int(i) for i in (input_str))#convert to int and save in int set
print(int_set)

{1, 2, 3, 4}

In [ ]:
#35. Convert a set of integers to a set of strings.
input_int ={1, 2, 3, 4} #input string set
str_set=set(str(i) for i in (input_str))#convert to string and save in str set
print(str_set)

{'3', '1', '2', '4'}

In [ ]:
#36. Create a set from a tuple.
inp_tup = (1,2,3,4,5)
inp_set = set(inp_tup) #converts tuple to set
print(inp_set) #print the result

{1, 2, 3, 4, 5}

In [ ]:
#37. Convert a set to a tuple.
inp_set = {1,2,3,4,5}
inp_tup = tuple(inp_set) #converts set to tuple
print(inp_tup) #print the result

(1, 2, 3, 4, 5)

In [ ]:
#38. Find the maximum value in a set
inp_set = {1,2,3,4,5}
max_elem = max(inp_set) #find the max in a set
print(f"Maximum element is {max_elem}\nSet:{inp_set}")

Maximum element is 5
Set:{1, 2, 3, 4, 5}

In [ ]:
#39. Find the minimum value in a set
inp_set = {1,2,3,4,5}
min_elem = min(inp_set) #find the max in a set
print(f"Minimum element is {min_elem}\nSet:{inp_set}")

Minimum element is 1
Set:{1, 2, 3, 4, 5}

In [9]:
#40. Create a set from user input.
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> Welcome,done
> done
Final set: {'Welcome,done'}

In [10]:
#41. Check if the intersection of two sets is empty.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
if not set1.intersection(set2) : #check the intersection is not empty
    print('No Intersection')
else:
  print('Intersection:',set1.intersection(set2))

No Intersection

In [11]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

for _ in range(6): # Loop to generate the first 5 Fibonacci numbers
    fibonacci_set.add(a) # Add the current Fibonacci number to the set
    a, b = b, a + b # Calculate the next Fibonacci number
print("Set of the first 5 Fibonacci numbers:", fibonacci_set) # Print the set of Fibonacci numbers

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [12]:
#43. Remove duplicates from a list using sets.
inp_set =[1,2,4,5,5,4,3,5,3,1,2] #list with duplicate values
inp_list = set(inp_set) #convert to set
fin_list =list(inp_list) #convert to list back
print(fin_list)

[1, 2, 3, 4, 5]

In [13]:
#44. Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
if set1 == set2: #check two sets are equal
 print('Both Sets have same elements')
else:
  print('Sets are different')

Sets are different

In [14]:
#45. Create a set of the first n powers of 2
inp_set = set()
n = 5
for i in range(n):
  power = 2 ** i
  inp_set.add(power)
print(inp_set) #print the result

{1, 2, 4, 8, 16}

In [15]:
#46. Find the common elements between a set and a list.
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []

for element in my_set: #Iterate through the elements in the set
    if element in list_to_set:  # Check if the element is present in the converted set (list_to_set)
         common_elements.append(element) #If the element is present in both the set and the list, add it to the common_elements list

print("Common elements:", common_elements) #Print the common elements

Common elements: [7, 9, 12]

In [16]:
#47. Create a set of the first n triangular numbers.:
def tri_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = tri_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 7
The set of the first 7 triangular numbers is: {1, 3, 6, 10, 15, 21, 28}

In [17]:
#48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5,7,8,9,10}
set2 = {3, 4,1,2}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [18]:
#49. Create a set of alternating 1s and 0s of length n.
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

length_n = 10

result = create_alternating_set(length_n)

print(result) # Print the resulting set.

{0, 1}

In [19]:
#50. Merge multiple sets into one.
set1 = {1, 2, 3,4,6,7}
set2 = {3, 4, 5,6,9,10}
set3 = {5, 6, 7,9,10}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7, 9, 10}